.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(37, 52, 126);
}

.logo{
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
}

